<div class="ui-body ui-body-a ui-corner-top">
    <div class="cover-art"><%= image_tag(program, 200) %></div>
    <%= program.article %>
    <a href="http://www.freebase.com/view<%= program["mid"] %>">Full Details</a>
</div>

<div class="ui-grid-a">
    <div class="ui-block-a">
        <dl>
        <% if program["type"] == "/film/film" %>
            <dt>Released</dt>
            <dd><%= format_date(program["initial_release_date"]) %></dd>

            <% unless program["rating"].nil? or program["rating"].empty?%>
                <dt>Rating</dt>
                <dd><%= image_tag(program["rating"][0], 20) %></dd>
            <% end %>

            <dt>Runtime</dt>
            <dd><%= program["runtime"][0]["runtime"].to_i / 60 %>h<%= program["runtime"][0]["runtime"].to_i % 60 %>m</dd>
        <% elsif program["type"] == "/tv/tv_program" %>
            <dt>Aired</dt>
            <dd><%= format_date(program["air_date_of_first_episode"]) %> - <%= format_date(program["air_date_of_final_episode"]) %></dd>

            <dt>Seasons</dt>
            <dd><%= program["seasons"] %></dd>

            <dt>Episodes</dt>
            <dd><%= program["episodes"] %></dd>
        <% end %>

        <% unless program["genre"].nil? or program["genre"].empty? %>
            <dt>Genres</dt>
            <dd><ul>
                <% program["genre"].each do |g| %>
                    <li><%= g["name"] %></li>
                <% end %>
            </ul></dd>
        <% end %>
        </dl>
    </div>

    <div data-movies-for="<%= program["mid"] %>">
        <%= erb :movie_list, :layout => false, :locals => { :program => program, :movies => movies } %>
    </div>
</div>

